.git
.github
.env
.env.*
node_modules
vendor
storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
tests
docs
*.md
.gitignore
.editorconfig
docker-compose.yml
compose.yaml
Dockerfile
Dockerfile.production
railway.toml
